.idea/
.idea/deployment.xml
.idea/lynda.iml
.idea/modules.xml
.idea/workspace.xml
### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio

*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws